@font-face {
  font-family: "ptserif";
  src: url(ptserif.ttf);
}

@font-face {
  font-family: "poppins";
  src: url(poppins.otf);
}

@font-face {
  font-family: "montserrat";
  src: url(montserrat.ttf);
}

* {
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
}

header h1 {
  width: 278px;
  height: 47px;
  font-family: "ptserif";
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 48px;
  color: black;
  margin-top: 110px;
  margin-right: 215px;
}

header .who {
  width: 117px;
  height: 27px;
  font-family: "poppins";
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 27px;
  text-transform: uppercase;
  color: black;
  margin-top: 110px;
  margin-bottom: 10px;
}

header .text {
  width: 439px;
  height: 87px;
  font-family: "poppins";
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 27px;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  width: 70%;
  height: 1250px;
  align-items: center;
  justify-content: center;
  gap: 67px;
  flex-wrap: wrap;
  padding-left: 210px;
}

.card {
  display: flex;
}

.card:nth-child(2) {
  margin-top: 95px;
}

.card:nth-child(5) {
  margin-top: 95px;
}

.photo img {
  width: 238px;
  height: 341px;
}

.name {
  font-family: "poppins";
  font-weight: 600;
  font-size: 1.125rem;
  margin-top: 15px;
}

.role {
  font-family: "ptserif";
  font-weight: 400;
  font-size: 0.75rem;
  text-transform: uppercase;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  margin-left: 10px;
}

footer {
  display: flex;
  justify-content: center;
  font-family: "montserrat";
  font-weight: 500;
  font-size: 0.875rem;
  color: #a9a9a9;
  margin-bottom: 24px;
}

@media screen and (max-width: 375px) {
  header {
    flex-direction: column;
    margin-left: 12px;
    height: 300px;
  }

  header .who {
    margin-top: 38px;
  }

  header .text {
    font-size: 0.825rem;
    width: 333px;
  }

  main {
    height: 1000px;
    margin-left: 12px;
    gap: 20px;
    flex-wrap: wrap;
    padding-left: 0px;
    width: 100%;
    margin-top: 38px;
    margin-bottom: 120px;
  }

  .photo img {
    width: 138px;
    height: 209px;
  }

  .name {
    margin-top: 10px;
  }

  .role {
    margin-left: 6px;
  }

  .card:nth-child(2) {
    margin-top: 60px;
  }

  .card:nth-child(4) {
    margin-top: 60px;
  }

  .card:nth-child(5) {
    margin-top: 0px;
  }

  .card:nth-child(6) {
    margin-top: 60px;
  }
}
